<!-- Navbar with offcanvas menu on mobile -->
<header class="header navbar  fixed-top bg-transparent">
  <div class="container">

<div class="col-md-1 col-4 rounded-pill ms-auto text-center bg-primary text-white p-1 mt-3">
    <div data-tg-tour="Access the menu here to jump to any location or get help.">
    <span class="menu">MENU</span>
    <button type="button" class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#primaryMenu" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
</div>
      </div>
    <div class="offcanvas offcanvas-end" id="primaryMenu">
      <div class="offcanvas-header">
        <h5 class="mt-1 mb-0">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body pt-0">
        <ul class="navbar-nav p-0">
          <li class="nav-item active">
            <a href="#" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside">Dropdown</a>
            <ul class="dropdown-menu">
              <li><a href="#" class="dropdown-item">Action link</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown">Dropdown</a>
                <ul class="dropdown-menu">
                  <li><a href="#" class="dropdown-item">Action link</a></li>
                  <li><a href="#" class="dropdown-item">Another action</a></li>
                  <li><a href="#" class="dropdown-item">Something else here</a></li>
                  <li><a href="#" class="dropdown-item">Yet another link</a></li>
                </ul>
              </li>
              <li><a href="#" class="dropdown-item">Another action</a></li>
              <li class="dropdown-divider"></li>
              <li><a href="#" class="dropdown-item">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link disabled" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
